/.vscode/

# HW1 gitignore
/hw1/logs/
/hw1/__pycache__/
/hw1/.pytest_cache/
/hw1/.vscode

# HW2 gitignore
/hw2/logs/
/hw2/__pycache__/
/hw2/.pytest_cache/
/hw2/.vscode
/hw2/word_lists/

# HW3 gitignore
/hw3/logs/
/hw3/__pycache__/
/hw3/.pytest_cache/
/hw3/.vscode